---
---

.bg-dark-blue {
  background-color: #1E3D5a;
  color: white;
}

.caption {
  font-size: 12px;
}

.sub-page {
  min-height: 400px !important;
}

.portfolio-modal .img-centered {
  display: inline;
}

.bold {
  font-weight: 700;
}

.date-container {
  width: 100%;
  text-align: center;
  position: relative;
  top: -50px;
}

.circle {
  text-align: center;
  width: 100px;
  height: 100px;
  padding-top: 34px;
  background: #378fe3;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: white;
  margin: 0 auto;
}

.blog-item > h2 {
  color: #27425D;
  font-weight: 600;
}

.blog-item > p {
  color: #27425D;
}

.blog-item:hover > h2 {
  color: #378fe3;
  font-weight: 600;
}

.blog-item:hover > p {
  color: #378fe3;
}

.header-content-inner.short {
  margin-top: 90px;
}

#blog{
  min-height: 700px;
}

.blog-content, .terms-content {
  margin: 0px 40px;
  margin-bottom: 50px;
  li{
    margin-bottom: 10px;
  }

  h1 {
    margin-top: 1.5em;
    text-align: center;
    font-weight: 600;
  }
  h1:after {
    content: ' ';
    width: 50px;
    margin: 25px auto;
    text-align: center;
    display: block;
    border: 2px solid #378fe3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }

}

.terms-content{
  h4{
    font-weight: 600;
  }
}

.blog-item{
  h2{
    margin-top: 1.2em;
    font-weight: 600;
  }
  
  .date{
    color: #bbb;
    margin-bottom: 10px;
  }
}


@media (min-width:1200px){
  .container{width:970px;}
  .wide{width:1170px;}
}

.row{
  margin: 0px;
}

.side-nav{
  padding: 20px;
  border-radius: 5px;
  p {
    color: white;
  }
}

@media(max-width:991px) {
  .side-nav{
    .read-more{
      float:left;
    }
  }
}

.started-section-heading{
  text-transform: uppercase;
  font-weight: 600;
  color: #1E3D5a;

}
.started-section-wrapper{
  display: inline-block;
  margin-bottom: 50px;
}


.side-section-wrapper  {
  display:inline-block;
  .started-section-heading {
    text-align: left;
  }
}

.bg-transparent {
  background-color: transparent;
}

.navbar-brand-logo {
  float: left !important;
}

.nav.navbar-nav {
  &.desktop {
    display: inherit;
  }
  &.mobile{
    display:none;
  }
}
@media(max-width:767px) {
  .nav.navbar-nav {
    &.desktop {
      display: none;
    }
    &.mobile{
      display:inherit;
    }
  }
}
span.text-muted.small {
    color: white;
    opacity: .5;
    font-size: .7em !important;
    margin: 10px;
}

.navbar-brand.with-logo{
  padding-top: 2px;
}

/* Services */
.service-icon{
  &:hover{
    text-decoration: none;
    color: #1E3D5a;

    i.text-primary{
      color: #1E3D5a;
    }
  }
}

