---
---

.bg-dark-blue {
  background-color: #1E3D5a;
  color: white;
}

.caption {
  font-size: 12px;
}

.sub-page {
  min-height: 400px !important;
}

.portfolio-modal .img-centered {
  display: inline;
}

.bold {
  font-weight: 700;
}

.date-container {
  width: 100%;
  text-align: center;
  position: relative;
  top: -50px;
}

.circle {
  text-align: center;
  width: 100px;
  height: 100px;
  padding-top: 34px;
  background: #378fe3;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: white;
  margin: 0 auto;
}

.blog-item > h2 {
  color: #27425D;
  font-weight: 600;
}

.blog-item > p {
  color: #27425D;
}

.blog-item:hover > h2 {
  color: #378fe3;
  font-weight: 600;
}

.blog-item:hover > p {
  color: #378fe3;
}


header{
  .container{
    width: 100%;
  }
  .sponsor{
    margin: 10px;
  }
  .header-content {

    .header-content-inner {
      max-width: 1600px;
      .short{
        margin-top: 90px;
      }
    }
    .service-wrapper{
      padding-bottom: 20px;
      background-color: rgba(0,0,0,0.5);
      border-radius: 15px;
      padding: 15px;
       @media(max-width:767px) {
          margin-bottom: 25px;
          max-width: 350px;
          margin-left: auto;
          margin-right: auto; 

          .fa-4x{
            font-size: 2em;
          }
        }
      
      .text-muted{
        min-height: 90px;
        @media(max-width:767px) {
          min-height: auto;
        }
      }
      p{
        font-size: 1em;
        margin-bottom: 5px;
      }
    }
  }
}

#getinvolved{
  .service-wrapper{
    margin-bottom: 40px;
    @media(max-width:767px) {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto; 
      .fa-4x{
          font-size: 2em;
        }
    }
  
  }
  .service-icon{
    display: inherit;
    border-radius: 15px;
    padding: 20px; 
    &:hover{
      background-color: #3E8FE3;
      text-decoration: none;
      color: white;//#1E3D5a;

      i.text-primary{
        color: white;//#1E3D5a;
      }
      .fa-inverse{
        color:#3E8FE3;
      }
      .text-muted{
        color: white;
      }
      .btn{
        background-color: #1E3D5a;
      }

    }
    
  }
}

#about{
  p{
    font-size: 1.5em;
    margin: 0px;
    text-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  }
}

#blog{
  min-height: 700px;
}

.blog-content, .terms-content {
  margin: 0px 40px;
  margin-bottom: 50px;
  li{
    margin-bottom: 10px;
  }

  h1 {
    margin-top: 1.5em;
    text-align: center;
    font-weight: 600;
  }
  h1:after {
    content: ' ';
    width: 50px;
    margin: 25px auto;
    text-align: center;
    display: block;
    border: 2px solid #378fe3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  }

}

.terms-content{
  h4{
    font-weight: 600;
  }
}

.blog-item{
  h2{
    margin-top: 1.2em;
    font-weight: 600;
  }
  
  .date{
    color: #bbb;
    margin-bottom: 10px;
  }
}


@media (min-width:1200px){
  .container{width:970px;}
  .wide{width:1170px;}
}

.row{
  margin: 0px;
}

.side-nav{
  padding: 20px;
  border-radius: 5px;
  p {
    color: white;
  }
}

@media(max-width:991px) {
  .side-nav{
    .read-more{
      float:left;
    }
  }
}

.started-section-heading{
  text-transform: uppercase;
  font-weight: 600;
  color: #1E3D5a;

}
.started-section-wrapper{
  display: inline-block;
  margin-bottom: 50px;
}


.side-section-wrapper  {
  display:inline-block;
  .started-section-heading {
    text-align: left;
  }
}

.bg-transparent {
  background-color: transparent;
}

.navbar-brand-logo {
  float: left !important;
}

.nav.navbar-nav {
  &.desktop {
    display: inherit;
  }
  &.mobile{
    display:none;
  }
}
@media(max-width:767px) {
  .nav.navbar-nav {
    &.desktop {
      display: none;
    }
    &.mobile{
      display:inherit;
    }
  }
}
span.text-muted.small {
    color: white;
    opacity: .5;
    font-size: .7em !important;
    //margin: 10px;
}

.navbar-brand.with-logo{
  padding-top: 2px;
}

#tprize {
    color: white;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(img/header2.jpg);
    text-align: left;

    .prize-wrapper{
      box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
      color: rgba(30, 61, 90, 1);
      background-color: rgba(30, 61, 90, 0.7);
      border-radius:10px;
      margin-bottom: 40px;
      .left{
        text-align: right;
        color: white;
        @media (max-width: 450px) {
          text-align: left;
          .prize-value{
            float: left;
          }
          .prize-entries{
            float: right;
            margin-top: 21px;
          }
        }

      }
      .right{
        text-align: left;
        border-radius: 0px 10px 10px 0;
        @media (max-width: 450px) {
          border-radius: 0px 0px 10px 10px;
        }
        background-color: rgba(255,255,255,0.9);
        .heading{
          font-weight: 600;
        }
        .date{
          text-align: right;
        }
      }
      .prize-value {
        // color: black;
        font-weight: 800;
        font-size: 2.5em;
      }

      &:hover{
        color: #3E8FE3;
        background-color: rgba(15, 110, 202, 1);
        box-shadow: 0px 0px 25px rgba(255,255,255,1);
        .right{
          background-color: rgba(255,255,255,1);
        }
      }
    }
    
}




/*   ---------------  XXS ------------------  */
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

@media (max-width: 450px) {
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11 {
        float: left;
    }

    .col-xxs-1 {
        width: 8.333333333333332%;
    }

    .col-xxs-2 {
        width: 16.666666666666664%;
    }

    .col-xxs-3 {
        width: 25%;
    }

    .col-xxs-4 {
        width: 33.33333333333333%;
    }

    .col-xxs-5 {
        width: 41.66666666666667%;
    }

    .col-xxs-6 {
        width: 50%;
    }

    .col-xxs-7 {
        width: 58.333333333333336%;
    }

    .col-xxs-8 {
        width: 66.66666666666666%;
    }

    .col-xxs-9 {
        width: 75%;
    }

    .col-xxs-10 {
        width: 83.33333333333334%;
    }

    .col-xxs-11 {
        width: 91.66666666666666%;
    }

    .col-xxs-12 {
        width: 100%;
    }

    .col-xxs-push-1 {
        left: 8.333333333333332%;
    }

    .col-xxs-push-2 {
        left: 16.666666666666664%;
    }

    .col-xxs-push-3 {
        left: 25%;
    }

    .col-xss-push-4 {
        left: 33.33333333333333%;
    }

    .col-xxs-push-5 {
        left: 41.66666666666667%;
    }

    .col-xxs-push-6 {
        left: 50%;
    }

    .col-xxs-push-7 {
        left: 58.333333333333336%;
    }

    .col-xxs-push-8 {
        left: 66.66666666666666%;
    }

    .col-xxs-push-9 {
        left: 75%;
    }

    .col-xxs-push-10 {
       left: 83.33333333333334%;
    }

    .col-xxs-push-11 {
       left: 91.66666666666666%;
    }

    .col-xxs-pull-1 {
        right: 8.333333333333332%;
    }

    .col-xxs-pull-2 {
        right: 16.666666666666664%;
    }

    .col-xxs-pull-3 {
        right: 25%;
    }

    .col-xxs-pull-4 {
        right: 33.33333333333333%;
    }

    .col-xxs-pull-5 {
        right: 41.66666666666667%;
    }

    .col-xxs-pull-6 {
        right: 50%;
    }

    .col-xxs-pull-7 {
        right: 58.333333333333336%;
    }

    .col-xxs-pull-8 {
        right: 66.66666666666666%;
    }

    .col-xxs-pull-9 {
        right: 75%;
    }

    .col-xxs-pull-10 {
        right: 83.33333333333334%;
    }

    .col-xxs-pull-11 {
        right: 91.66666666666666%;
    }

    .col-xxs-offset-1 {
        margin-left: 8.333333333333332%;
    }

    .col-xxs-offset-2 {
        margin-left: 16.666666666666664%;
    }

    .col-xxs-offset-3 {
        margin-left: 25%;
    }

    .col-xxs-offset-4 {
        margin-left: 33.33333333333333%;
    }

    .col-xxs-offset-5 {
        margin-left: 41.66666666666667%;
    }

    .col-xxs-offset-6 {
        margin-left: 50%;
    }

    .col-xxs-offset-7 {
        margin-left: 58.333333333333336%;
    }

    .col-xxs-offset-8 {
        margin-left: 66.66666666666666%;
    }

    .col-xxs-offset-9 {
        margin-left: 75%;
    }

    .col-xxs-offset-10 {
        margin-left: 83.33333333333334%;
    }

    .col-xxs-offset-11 {
        margin-left: 91.66666666666666%;
    }
}    