<!-- About Section -->
    <section class="bg-primary" id="about">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">This is ATLabs, the new community portal for transport in Auckland!</h2>
                    <hr class="light">
                    <p class="text-faded" style="color: rgba(255, 255, 255, 0.87);">Here at AT Labs, our mission is to provide a platform to explore emerging transport technologies while evolving the human experience of living and travelling in Auckland.</p>
                    <p class="text-faded">We welcome transport related ideas to Auckland, as well as providing instructions and examples for Developers to create their own applications.</p>
                   
                    <!--a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a-->
                </div>
            </div>
        </div>
    </section>