   <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Sponsored by Auckland Transport
                        <a class="" href="https://at.govt.nz/">
                          <img src="{{ site.baseurl }}/img/logo/at_logo.png" alt="ATLabs" height="25" width="25">
                        </a>
                    </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="{{ site.baseurl }}/privacypolicy/index.html">Privacy Policy</a>
                        </li>
                        <li><a href="{{ site.baseurl }}/termsofuse/index.html">Terms of Use</a>
                        </li>
                        <li><a href="{{ site.baseurl }}/copyright/index.html">Copyright</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
