<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br/><br/>
            <h1 id="homeHeading">Team up</h1>
            <hr>
            <p>to create what's next for Auckland
            <br/>
               
            </p>
            <!--a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a-->
            <div class="container services">
                <div class="row text-center">
                    <div class="col-sm-4">
                    <div class="service-wrapper sr-icons">
                            <a href="#portfolio" class="page-scroll" ><span class="fa-stack fa-4x ">
                                <i class="fa fa-circle fa-stack-2x text-primary develop"></i>
                                <i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
                            </span></a>
                            <h4 class="service-heading">Latest Apps</h4>
                       

                        <p class="text-muted">
                            Check out some of the latest apps being cooked up...
                        </p>
                         <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Learn more</a>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="service-wrapper sr-icons">
                            <a href="#getinvolved" class="page-scroll" ><span class="fa-stack fa-4x ">
                                <i class="fa fa-circle fa-stack-2x text-primary contribute"></i>
                                <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                            </span></a>
                             <h4 class="service-heading">Get Involved</h4>
                       
                        <p class="text-muted">
                            Have a great idea for an app? Can you design, code, or test? We need your help... 
                        </p>
                        <a href="#getinvolved" class="btn btn-primary btn-xl page-scroll">Get started</a>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="service-wrapper sr-icons">
                            <a href="#tprize" class="page-scroll" ><span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary discuss"></i>
                                <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                            </span></a>
                            <h4 class="service-heading">T-PRIZE</h4>
                       
                        <p class="text-muted">
                           Solve some of our most interesting problems for fame (and money...)
                        </p>
                        <a href="#tprize" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="sponsor">
                 <span class="text-muted small">Sponsored by</span>
                <a class="" href="https://at.govt.nz/">
                  <img src="{{ site.baseurl }}/img/logo/at_logo.png" alt="ATLabs" height="25" width="25">
                </a>
            </div>
        </div>
    </div>
</header>