<!-- Services Section -->
<section  id="getinvolved">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">Be Empowered</h2>
            <hr>
            <p>to make change happen</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-wrapper">
                        <a class="service-icon" href="http://github.com/AT-Labs">
                            <span class="fa-stack fa-4x sr-icons">
                                <i class="fa fa-circle fa-stack-2x text-primary develop"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Join a project</h4>
                            <p class="text-muted">
                                Improve an existing app or start something entirely new...
                            </p>
                        </a>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="service-wrapper">
                        <a class="service-icon" href="https://dev-portal.at.govt.nz/issues">
                            <span class="fa-stack fa-4x sr-icons">
                                <i class="fa fa-circle fa-stack-2x text-primary contribute"></i>
                                <i class="fa fa-bug fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">View Issues</h4>
                            <p class="text-muted">
                                Known issues just begging for your attention...
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-wrapper">
                        <a class="service-icon" href="https://gitter.im/at-labs/Lobby">
                            <span class="fa-stack fa-4x sr-icons">
                                <i class="fa fa-circle fa-stack-2x text-primary discuss"></i>
                                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Discuss</h4>

                            <p class="text-muted">
                                Need some help, got a query, or just want to share?
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-wrapper">
                        <a class="service-icon" href="/gettingstarted/index.html">
                            <span class="fa-stack fa-4x sr-icons">
                                <i class="fa fa-circle fa-stack-2x text-primary discuss"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Getting started</h4>

                            <p class="text-muted">
                                Learn more about transport APIs and other cool stuff...
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-wrapper">
                        <a class="service-icon" href="https://dev-portal.at.govt.nz/">
                            <span class="fa-stack fa-4x sr-icons">
                                <i class="fa fa-circle fa-stack-2x text-primary discuss"></i>
                                <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">APIs</h4>

                            <p class="text-muted">
                                Transport APIs.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>