<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-left navbar-brand-logo page-scroll" href="{{ site.baseurl }}/">
                  <img src="{{ site.baseurl }}/img/logo/logo1.png" alt="ATLabs" height="60" width="60">
                </a>
                <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/">
                   ATLABS
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/#vision">Vision</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/gettingstarted/index.html">Getting Started</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/blog/index.html">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#api">API</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right desktop">
                    <li>
                        <a href="https://gitter.im/at-labs/Lobby"><i class="fa fa-2x fa-comments"></i></a>
                    </li>
                    <li>
                        <a href="http://github.com/AT-Labs"><i class="fa fa-2x fa-github"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right mobile">
                    <li>
                        <a href="https://gitter.im/at-labs/Lobby">Forum</a>
                    </li>
                    <li>
                        <a href="http://github.com/AT-Labs">GitHub</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
