<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
            {% for post in site.categories.[page.layout] %}
                <!--div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-2x"></i>
                            </div>
                        </div>
                        <img src="img/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="bold">{{ post.title }}</h4>
                        <p class="text-muted">{{ post.short }}</p>
                    </div>
                </div-->
                 <div class="col-md-12 col-sm-12 portfolio-item">
                     <li>
                        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                        <h2>
                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                        </h2>
                        <p>{{ post.content | strip_html | truncatewords: 30 }} <a href="{{ post.url | prepend: site.baseurl }}" title="Permalink to: {{ post.title }}" class="read-more">Read more &raquo;</a></p>
                      </li>
                  </div>
            {% endfor %}
            </div>
        </div>
    </section>
