<section id="blog" class="bg-light-gray">
   <div class="container">
      <div class="row">
         <div class="terms-content">
            <ol>
               <h1><span >Purpose</span></h1>
               <li ><span >The purpose of this privacy policy is to let users of atlabs.xyz (the &ldquo;Site&rdquo;) know when we collect personal information and what we do with it. We do not use, share or transfer personal information in connection with the Site except as set out in this policy.</span></li>
               <h1><span >Collection, storage and use</span></h1>
               <li >
                  <span >No need to disclose personal information &nbsp;</span>
               </li>
               <p><span >The Site can be viewed and its web &nbsp;feeds can be subscribed to without the need to disclose any personal information to us.</span></p>
               <li >
                  <span >Your disclosure of personal information &nbsp;</span>
               </li>
               <p><span >However, you may choose to disclose personal information when adding material to the Site. Such information will be viewable by Site administrators, certain PHL staff and, if published, members of the public. Please do not post or otherwise transmit personal information of a sensitive nature.</span></p>
               <li >
                  <span >Holding of information &nbsp;</span>
               </li>
               <p><span >Personal information that you provide will be held by PHL. Email addresses provided when commenting in the discussion forum or other areas of the Site or when emailing feedback directly to PHL are not made available to the public. Unless required by law, we will not publicise the names or email addresses of individuals who provide feedback to us without their consent.</span></p>
               <li >
                  <span >Use of personal information &nbsp;</span>
               </li>
               <p><span >We will only use personal information provided to us for the purpose of administering, evaluating and improving the Site, improving our services and communicating with you.</span></p>
               <li >
                  <span >Feedback &nbsp;</span>
               </li>
               <p><span >Feedback is important and is used to evaluate and improve the Site. If you provide feedback on the Site directly to PHL via the supplied email address, that feedback will be sent to appropriate PHL staff. We may pass on relevant comments to other people within PHL who administer, have contributed content to, or are otherwise interested in, the Site. This could include your email address and other identifying information.</span></p>
               <h1><span >Statistical information and cookies</span></h1>
               <li >
                  <span >Statistical information collected &nbsp;</span>
               </li>
               <p><span >We may collect statistical information about your visit to help us improve the Site. This information is aggregated and non-personally identifying. It includes:</span></p>
               <ul>
                  <li ><span >your IP address;</span></li>
                  <li ><span >the search terms you used;</span></li>
                  <li ><span >the pages you accessed on our Site and the links you clicked on;</span></li>
                  <li ><span >the date and time you visited the site;</span></li>
                  <li ><span >the referring site (if any) through which you clicked through to this Site;</span></li>
                  <li ><span >your operating system (e.g., Windows XP, Mac OSX);</span></li>
                  <li ><span >the type of web browser you use (e.g. Internet Explorer, Mozilla Firefox); and</span></li>
                  <li ><span >other incidental matters such as screen resolution, the release of your installed Flash version and the language setting of your browser.</span></li>
               </ul>
               <li >
                  <span >Use of statistical information &nbsp;</span>
               </li>
               </ul>
               <p><span >The statistical information referred to above will be viewable by Site administrators and certain other PHL staff. It may also be shared with other government agencies.</span></p>
               <li >
                  <span >Cookies </span>
               </li>
               <p><span >This Site generates persistent session cookies for the purpose of monitoring Site usage. The cookies do not collect personal information. You can disable them or clear them out of the web browser you are using to view this Site without affecting your ability to use the Site.</span></p>
               <h1><span >Records and disclosure statement</span></h1>
               <li >
                  <span >Public Records, Official Information and Parliament &nbsp;</span>
               </li>
               <p><span >Your emails and contributions to the Site may constitute public records and be retained to the extent required by the Public Records Act 2005. PHL may also be required to disclose those materials under the Official Information Act 1982 or to a Parliamentary Select Committee or Parliament in response to a Parliamentary Question.</span></p>
               <h1><span >Rights of access and correction</span></h1>
               <li ><span >Your rights &nbsp;Under the Privacy Act 1993, </span></li>
               <p><span >You have the right to access and to request correction of any of your personal information provided to PHL in connection with your use of this Site. If you would like to see the personal information relating to you that PHL has stored, or to change such personal information, or if you have any concerns regarding your privacy, please contact us at the address set out below. PHL may require proof of your identity before being able to provide you with any personal information.</span></p>
               <ul>
                  <li ><span >The Privacy Officer</span></li>
                  <li ><span >Propellerhead Limited</span></li>
                  <li ><span >PO Box 911 095</span></li>
                  <li ><span >Auckland 1010</span></li>
                  <li ><span >Email: info@propellerhead.co.nz</span></li>
               </ul>
               <li ><span >Privacy Commissioner &nbsp;</span></li>
               <p><span >If you are not satisfied with our response to any privacy-related concern you may have, you can contact the Privacy Commissioner:</span></p>
               <ul>
                  <li ><span >Office of the Privacy Commissioner</span></li>
                  <li ><span >PO Box 10-094</span></li>
                  <li ><span >Wellington, New Zealand</span></li>
                  <li ><span >Phone: 04 474 7590</span></li>
                  <li ><span >Enquiries Line (from Auckland): 302 8655</span></li>
                  <li ><span >Enquiries Line (from outside Auckland): 0800 803 909</span></li>
                  <li ><span >Fax: 04 474 7595</span></li>
                  <li ><span >Email: </span><a href="mailto:enquiries@privacy.org.nz"><span >enquiries@privacy.org.nz</span></a></li>
               </ul>
            </ol>
         </div>
      </div>
   </div>
</section>