<section id="blog" class="bg-light-gray">
	<div class="container">
		<div class="row">
			<div class="terms-content">
				<h1>Agreement to terms</h1>
				<p>Welcome to atlabs.xyz (the “Site”), a website hosted and operated by Propellerhead Limited (”we”, “our”, “PHL”).</p>
				<p>These terms apply to the entire contents of the Site and to any web feeds produced by the Site. By viewing and using the Site, you will be deemed to agree to these terms.</p>
				<h1>Intellectual property rights</h1>
				<ol>
					<li><h4>Copyright in material on atlabs.xyz</h4></li>
					<ol type="a">
						<li>atlabs.xyz provides:</li>
						<ol type="i">
							<li>links to, and portions of content from, public sector websites;</li>
							<li>the ability for people to post comments on released datasets;</li>
							<li>the ability for people to list reuses of released datasets; and</li>
							<li>a data request register through which people can ask agencies to release specific datasets, agencies can respond, and people can post comments</li>
						</ol>
						<li>(in these terms, such content, responses, comments and data requests are referred to as "material").</li>
						<li>To the extent that there is copyright in such material, that copyright is either owned by the Crown or licensed to the Crown by either the public sector bodies from whom the material has been sourced or the individuals who have provided the material.</li>

					</ol>
					<li><h4>Your reuse of material on atlabs.xyz – Creative Commons Attribution BY licence</h4></li>
					<ol type="a">
						<li>When persons or agencies add material to atlabs.xyz, they provide a licence to PHL to sub-license that material on the terms of the Creative Commons Attribution 3.0 New Zealand licence (see clause 5 below).</li>
						<li>This enables us to license all copyright material on this Site under the Creative Commons Attribution 3.0 New Zealand licence. In essence, you are free to copy, distribute and adapt such material, as long as you attribute the material to PHL and abide by the other licence terms. You can view a copy of the Creative Commons Attribution 3.0 New Zealand licence on the Creative Commons site.</li>
						<li>To avoid doubt, this licence extends to resyndication of the Site’s web feeds on third party websites.</li>
					</ol>
					<li><h4>Licence to reuse material on atlabs.xyz does not cover the actual datasets</h4>
					<p>Please note that the Creative Commons Attribution 3.0 New Zealand licence referred to above applies only to copyright material on atlabs.xyz itself. It does not apply to the actual datasets themselves. atlabs.xyz links to those datasets but the datasets themselves are not on this Site. They are on the websites of their source agencies.</p></li>
					<li><h4>Re-use rights for the datasets themselves</h4></li>
					<ol  type="a">
						<li>The licences that apply to the datasets themselves (if any) are selected by the source agencies. Where we know the licence that applies to a given dataset listed on atlabs.xyz, we endeavour to list it on this site. However, any questions regarding the licence applying to a given dataset should be directed to that dataset’s source agency.</li>
						<li>PHL is not able to grant any licence for a dataset whose licence is not stated on this Site nor is it able to waive any requirements in any licence for a dataset that is listed on this Site.</li>
					</ol>
					<li><h4>Your licence to us for contributions to atlabs.xyz</h4></li>
					<ol  type="a">
						<li>Other than personal information not visible on the Site, which is covered under the Privacy Policy, any material you transmit or post to the Site will be considered non-confidential. We do not claim to own your copyright material. You do, however, grant PHL a non-exclusive, royalty-free and irrevocable licence to:</li>
						<ol  type="i">
							<li>publish such material in any media and in any format, including on this or any other website, in hard copy publications, in email notifications and alerts and in web feeds; and</li>
							<li>sub-license such material for re-use by others pursuant to the terms of the Creative Commons Attribution 3.0 New Zealand licence.</li>
						</ol>
						<li>This applies to agencies posting listings of their datasets on this Site and to any other person who adds material to this Site, including persons adding feedback, comments, data requests or data reuses to the Site.</li>
						<li>To avoid doubt for agencies listing datasets on atlabs.xyz, this licence to PHL does not extend to the underlying datasets themselves. Those datasets are on the agencies’ websites and do not constitute material that is transmitted or posted to this Site. The licence to PHL only concerns your listings of those datasets.</li>
						<li>All contributors accept that it is sufficient for our sub-licensing of your material to state that ‘copyright material on the atlabs.xyz website owned by Propellerhead Limited and its licensors is licensed under a Creative Commons Attribution 3.0 New Zealand Licence’.</li>
					</ol>
					<li><h4>Third party copyright</h4><p>If your contributions to the Site include material in which copyright or other intellectual property is owned by a third party, you warrant that you have the right to use that material and to grant the licence referred to in, and on the terms of, clause 5 above.</p></li>

					<!------------------ Visitor material and conduct ------------------>
					<h1>Visitor material and conduct</h1>

					<li><h4>Unacceptable use </h4><p>You are prohibited from posting or transmitting to or from the Site any material that is illegal, obscene, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or otherwise injurious or objectionable.</p></li>
					<li><h4>Co-operation with authorities</h4>
						<p>We will co-operate fully with any law enforcement authorities or court order requesting or directing PHL to disclose the identity or locate anyone posting any material in breach of clause 7 above.</p></li>
						<li><h4>Standards of Integrity and Conduct</h4><p>Government employees who participate on the Site are reminded of their obligations under the Standards of Integrity and Conduct.</p></li>
					<!------------------ Visitor material and conduct ------------------>
					<h1>Moderation</h1>
						<li><h4>Pre-publication moderation</h4></li>
						<ol  type="a">
							<li>Contributions to the Site may be moderated by one or more PHL moderators before being published. Those moderators may decline to publish contributions or may modify contributions if they are considered to be either contrary to clause 7 above or irrelevant to the subject-matter of the Site.</li></ol>
							<li><h4>Banning abusive commenters</h4></li>
							<ol type="a">
								<li>We reserve the right to suspend or terminate a user’s access or ability to post to comments, forum or other discussion areas if we believe any such facility is being abused.</li>
							</ol>
						</ol>
						<h1>Disclaimer</h1>
						<p>atlabs.xyz provides features that link you to or provide content from other websites. While we will use our reasonable endeavours to maintain atlabs.xyz, PHL is not responsible for the currency or accuracy of content on or from such other websites. PHL disclaims and excludes all liability for any claim, loss, demand or damages of any kind (including for negligence) arising out of or in connection with the use of either this website or the information, content or materials included on this site or on any website to which it is linked.</p>
						<p>The inclusion of a link to a third party sites does not imply any endorsement of the linked website or its content or provider.</p>
						<h1>Revisions</h1>
						<p>We may revise these Terms of use at any time. Any such revisions will take effect once notified through a notice at the end of these Terms of use detailing the respect(s) in which the Terms have changed. We may also elect to place such notice on this Site’s homepage.</p>
						<h1>Tracking of website usage</h1>
						<p>If you visit this website to read or access information or perform tasks, we collect and store statistical information about the visit.
							This information includes the server address, top-level domain name, date and time of the visit, pages accessed and documents downloaded, previous site visited, and type of browser used.</p>
							<p>Site statistics allow us to assess the number of visitors to the different sections of our website, identify what information is of interest, monitor system performance, and help us make our site more useful to visitors.</p>
							<h1>Agents</h1>
							<p>To the extent any material is posted or web-feed made available on the Site by a vendor or other party (agent) for or on behalf of an agency or other person (principal), by taking that action:</p>
							<ol>
								<li>the agent represents it is and remains fully authorised to take that action on behalf of the principal so that the principal is bound by, and grants the rights set out in, these Terms; and</li>
								<li>without limiting the principal’s obligations under these Terms, the agent agrees on its own behalf that it will comply with these Terms in relation to its posting of any material or web feeds, including (without limitation) the requirements of clause 7.</li>
							</ol>
						</div>
					</div>
				</div>
			</section>