<!-- Services Section -->
<section   id="tprize">
    <div class="container">
        <div class="row text-center">
            <h2 class="section-heading">T-PRIZE</h2>
            <hr class="light">
            <p>earn fame (and money) while doing good</p>
            <div class="row">
                
                {% for prize in site.data.tprize %}

                 <div class="col-md-6 col-xs-12">
                    <a href="#">
                        <div class="prize-wrapper row">
                            <div class="col-xs-5 left col-xxs-12">
                                 <h2 class="prize-value"> {{ prize.prize }}</h2>
                                 <p class="prize-entries">{{ prize.entries }} entered</p>
                            </div>
                            <div class="col-xs-7 right col-xxs-12">
                                <h4 class="heading"> {{ prize.name }}</h4>
                                <p class="text-muted">{{ prize.description }}</p>
                                <p class="date">Closes at {{ prize.closeDate }}</p>  
                            </div>
                        </div>
                    </a>

                </div>
               
                {% endfor %}
               
            </div>
        </div>
    </div>
</section>