<!-- Vision Section -->
    <section class="bg-dark-blue" id="vision">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p class="text-faded"></p>
                    <h2 class="section-heading">Vision</h2>
                    <hr class="light">
                    <p class="text-faded">We believe that many innovative ideas come from learning, exploring, and collaborating with others on things we are passionate about. And we're passionate about transport in Auckland.</p>
                    <p class="text-faded">Our focus is on creating the right conditions for great ideas to emerge and improve the experience of commuting for all Aucklanders.</p>
                    <p class="text-faded">We see potential in the convergence of real-world problems, open data, and inspired coding to solve some of the bigger pain points for the travelling public.  </p>
                   
                    <!--a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a-->
                </div>
            </div>
        </div>
    </section>