.caption{
  font-size: 12px;
}

.sub-page {
  min-height: 400px !important;
}

.portfolio-modal .img-centered{
	display: inline;
}

.bold{
	font-weight: 700;
}

.post-container {
	margin-top: 50px;
	margin-bottom: 200px;
	min-height: 500px;
}

.date-container{
	width:100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}