.bg-dark-blue {
	background-color: #1E3D5a;
	color: white;
}

.caption{
  font-size: 12px;
}

.sub-page {
  min-height: 400px !important;
}

.portfolio-modal .img-centered{
	display: inline;
}

.bold{
	font-weight: 700;
}

.date-container{
	width:100%;
	text-align: center;
	position: relative;
    top: -50px;
}
.circle{
	text-align: center;
	width: 100px;
	height: 100px;
	padding-top: 34px;
	background: #378fe3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	color: white;
	margin: 0px auto;
}

.blog-item > h2{
	font-weight: 600;
	color: #27425D;
	
}
.blog-item > p{
	color: #27425D;
	
}

.blog-item:hover > h2{
	font-weight: 600;
	color: #378fe3;
	
}
.blog-item:hover > p{
	color: #378fe3;
	
}
.header-content-inner.short{
	margin-top: 90px;
}

#blog{
	min-height: 700px;
}

.blog-content{
	margin: 0px 40px;
	margin-bottom: 50px;
}


.blog-content>h1{
	margin-top: 1.5em;
	text-align: center;
	font-weight: 600;
}

.blog-content>h1:after {
    content:' ';
    width: 70px;
    margin: 15px auto;
    text-align: center;
    display:block;
    border:2px solid #378fe3;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.blog-item>h2{
	margin-top: 1.5em;
	font-weight: 600;
}

.blog-item>.date{
	color: #bbb;
	margin-bottom: 10px;
}

@media (min-width:1200px){
	.container{width:970px;}
	.wide{width:1170px;}
}

.row{
	margin: 0px;
}