<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">
	{% include navbar.html %}
      <header class="sub-page">
        <div class="header-content">
            <div class="header-content-inner short">
                <h1 id="homeHeading">BLOG</h1>
                <hr>
                <p>Check out the newest updates for ATLabs</p>
            </div>
        </div>
    </header>
    {% include posts_blog.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>