<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% include navbar.html %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Working on transport stuff together</h1>
                <hr>
                <p>Join us in our quest to find answers to some of Auckland's thorniest transport issues
                <br/>
                    <span class="text-muted small">Sponsored by Auckland Transport</span>
                    <a class="" href="https://at.govt.nz/">
                      <img src="{{ site.baseurl }}/img/logo/at_logo.png" alt="ATLabs" height="20" width="20">
                    </a>
                </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
          
                
            </div>
        </div>
    </header>
    {% include about.html %}
    {% include services.html %}

    {% include vision.html %}
    {% include gallery.html %}

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>