<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}
      <header class="sub-page">
        <div class="header-content">
            <div class="header-content-inner short">
                <h1 id="homeHeading">{{ page.title }}</h1>
                <hr>
                <p>{{ page.short }}</p>            
            </div>
        </div>
    </header>

    <div class="post-container ">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 ">
            <div class="blog-content">
                <div class="date-container">
                    <strong>{{ page.date | date: '%B %d, %Y' }}</strong>
                 </div>   
                <!--img src="img/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}"-->
                {{ page.content }}
                </div>

            </div>
        </div>

    </div>
        {% include footer.html %}
        {% include js.html %}

    </body>
</html>