<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index">
	{% include navbar.html %}
      <header class="sub-page">
        <div class="header-content">
            <div class="header-content-inner short">
                <h1 id="homeHeading">Privacy Policy</h1>
                <hr>
                <p>This policy sets out how we collect, use, protect and share your personal information</p>
            </div>
        </div>
    </header>
    {% include privacypolicy.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>